<div class="container">
    <div class="bottom-buffer"></div>
    <div class="card full-width padding-box">
      <h1 class="text-center">Edit My Information</h1>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <div class="form-group col-sm-6 col-md-4 col-xs-12">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, class: "form-control" %>
            </div>
            <div class="form-group col-sm-6 col-md-4 col-xs-12">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, class: "form-control" %>
            </div>
            <div class="form-group col-sm-6 col-md-4 col-xs-12">
                <%= f.label :email %>
                <%= f.email_field :email, required: true, autofocus: true, class: "form-control" %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
            </div>
            <div class="form-group col-sm-6 col-md-4 col-xs-12">
                <%= f.label :phone %>
                <%= f.text_field :phone, required: true, class: "form-control" %>
            </div>

            <div class="form-group col-sm-12 col-md-4 col-xs-12">
                <%= f.label :current_password %>
                <%= f.password_field :current_password, class: "form-control", required: true %>
            </div>
            <div class="row">
              <p class="passwordChangeHeader1 linkish text-center">Change My Password</p>
              <p class="passwordChangeHeader2 linkish hidden text-center">Keep My Current Password</p>
              <div class="passwordChangeDiv hidden">
                  <div class="form-group col-sm-6 col-md-4">
                      <%= f.label "New Password" %>
                      <%= f.password_field :password, autocomplete: "off", class: "form-control", required: false %>
                  </div>
                  <div class="form-group col-sm-6 col-md-4">
                      <%= f.label "Confirm New Password" %>
                      <%= f.password_field :password_confirmation, required: true, class: "form-control" %>
                  </div>
              </div> <!-- password change -->
            </div> <!-- row -->
          </div> <!-- form inputs -->

          <div class="form-actions text-center">
              <%= f.button :submit, "Update" %><br />
              <%= link_to "Back", :back %>
          </div> <!-- form actions -->

      <% end %>
    </div> <!-- card -->
</div> <!-- container -->

<div class="bottom-buffer"></div>

<script type="text/javascript">
    $(document).ready(function(){
        $(".passwordChangeHeader1").click(function(){
            $(".passwordChangeHeader1").addClass("hidden");
            $(".passwordChangeHeader2").removeClass("hidden");
            $(".passwordChangeDiv").removeClass("hidden");
        });
        $(".passwordChangeHeader2").click(function(){
            $(".passwordChangeHeader2").addClass("hidden");
            $(".passwordChangeHeader1").removeClass("hidden");
            $(".passwordChangeDiv").addClass("hidden");
        });
    });

</script>
