<div class="container">
	<h1 class="text-center">Forgot your password?</h1>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs row">
  	<div class="col-sm-4 col-sm-push-4">
	    <%= f.label :email %>
	    <%= f.email_field :email, required: true, autofocus: true, class: "form-control" %>
	    </div> <!-- col -->
  </div> <!-- row -->

  <div class="form-actions text-center">
    <%= f.button :submit, "Send Reset Instructions" %><br />
	<%= render "devise/shared/links" %>
  </div>
<% end %>


</div> <!-- container -->