<div class="container">
	<div class="bottom-buffer"></div>
	<div class="card full-width padding-box">
		<h1 class="text-center">Create an Account</h1>
		<h3 class="text-center"><%= link_to('Already have an account?', new_user_session_path)  %></h3>

		<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			<%= f.error_notification %>

			<div class="form-inputs">
				<div class="row">
					<div class="form-group col-sm-6 col-xs-12">
							<%= f.label :first_name %>
							<%= f.text_field :first_name, class: "form-control" %>
					</div>
					<div class="form-group col-sm-6 col-xs-12">
							<%= f.label :last_name %>
							<%= f.text_field :last_name, class: "form-control" %>
					</div>
					<div class="form-group col-sm-6 col-xs-12">
							<%= f.label :email %>
							<%= f.email_field :email, required: true, autofocus: true, class: "form-control" %>
							<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
									<p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
							<% end %>
					</div>
					<div class="form-group col-sm-6 col-xs-12">
							<%= f.label :phone %>
							<%= f.text_field :phone, required: true, class: "form-control" %>
					</div>
				</div> <!-- row -->

				<div class="row">
					<div class="col-sm-12">
						<%= f.label "I'm interested in..." %>
					</div> <!-- col -->
				</div>

				<div class="row">
					<div class="col-xs-5 col-xs-push-1">
						<%= f.input :buyer, label: "Buying a House" %>
						<%= f.input :seller, label: "Selling a House"  %>
					</div> <!-- col -->
				</div> <!-- row -->

				<div class="row">
					<div class="form-group col-sm-6 col-xs-12">
							<%= f.label :password %>
							<%= f.password_field :password, class: "form-control", required: true %>
					</div>
					<div class="form-group col-sm-6 col-xs-12">
							<%= f.label :confirm_password %>
							<%= f.password_field :confirm_password, class: "form-control", required: true %>
					</div>
				</div> <!-- row -->
				<div class="row text-center">
					<%= f.input :blog_emails, label: "Email me when a new blog post comes out" %>
				</div>
			</div> <!-- form inputs -->

		    <div class="form-actions text-center">
		    	<%= f.button :submit, "Sign up" %><br />
		    	<%= render "devise/shared/links" %>
		    </div>
		<% end %>
	</div> <!-- card full width -->

</div> <!-- container -->

<div class="bottom-buffer"></div>
